* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-repeat: no-repeat;
    background-size: cover;
} */

.container {
    min-height: 100vh;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    position: relative; /* или unset, чтобы не нарушать поток */
    display: block;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* пример для адаптивности */
    gap: 20px; /* расстояние между карточками */
    padding: 20px;
} 

.card {
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* box-sizing: border-box; */
    backdrop-filter: blur(10px);
    border-radius: 25px;
    color: white;
}

.card_title {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 20px;
}

.pricing {
    font-weight: normal;
    font-size: 96px;
}

.pricing .small {
    font-size: 16px;
}

hr {
    margin-top: 70px;
}

.features {
    margin: 40px 0;
    list-style-position: inside;
}

.features li {
    padding-bottom: 10px;
}



@media only screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }
}

@media only screen and (max-width: 425px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }
    .container {
        padding: 0 1rem;
    }
    body {
        font-size: 14px;
    }

    .card {
        padding: 30px;
    }

    .card_title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .pricing {
        font-size: 52px;
    }
    
    hr {
        margin-top: 50px;
    }

    a.cta_btn {
        font-size: 11px;
    }
}